<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="gr__s3-ap-northeast-1_amazonaws_com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
    <meta name="google" content="notranslate"/>

    <title>Amazon Pay Sample</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/shop-confirmation.css" rel="stylesheet">
</head>
<body data-gr-c-s-loaded="true">
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">ご注文内容</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">商品名</th>
                            <th scope="col">単価</th>
                            <th scope="col" class="text-center">数量</th>
                            <th scope="col" class="text-right">小計</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- AmazonPayController#createOrderから受け取ったorder.itemsの情報を表示 -->
                        <tr th:each="item : ${order.items}" th:object="${item}">
                            <td><img class="confirmation-item" src="./img/item0010.jpg" th:src="|./img/*{itemId}.jpg|">
                            </td>
                            <td class="text-right" th:text="*{itemName}">コロンビア・ビルバオ コーヒー豆</td>
                            <td class="text-right" th:text="|￥*{#numbers.formatInteger(price, 3, 'COMMA')}|">￥2,000</td>
                            <td class="text-right" th:text="*{number}">2</td>
                            <td class="text-right" th:text="|￥*{#numbers.formatInteger(summary, 3, 'COMMA')}|">￥4,000
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center">
        <input type="image" src="./img/btn_amazon.png" id="amzn_button">
    </div>
</div>
<form id="other_form" method="get" action="button"><input type="hidden" name="token" th:value="${token}"></form>
</body>
<script type="text/javascript">
document.getElementById('amzn_button').addEventListener(
    'click',
    function() {
        // Android: AmazonPayController#createOrderから受け取ったtokenを埋め込んで、intentを送信してAmazonPayActivityを起動する.
        [( ${os} == 'android' ? 'location.href = "intent://amazon_pay_host#Intent;package=com.amazon.pay.sample.android;scheme=amazon_pay_schema;S.token=' + ${token} + ';end;";' )]

        // iOS: AmazonPayController#createOrderから受け取ったtokenを埋め込んで、WebViewController#viewDidLoadで登録された
        // CallbackのWebViewController#userContentControllerを起動する.
        [( ${os} == 'ios'     ? 'webkit.messageHandlers.jsCallbackHandler.postMessage("' + ${token} + '");' )]

        // その他: 通常の画面遷移
        [( ${os} == 'other'   ? 'document.getElementById("other_form").submit();' )]
    }
);

</script>
</html>