<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="gr__s3-ap-northeast-1_amazonaws_com">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
    <meta name="google" content="notranslate" />

    <title>注文確認ページ：Amazon Payデモサイト</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/shop-confirmation.css" rel="stylesheet">
    <script type="text/javascript">
      function getURLParameter(name, source) {
          return decodeURIComponent((new RegExp('[?|&amp;|#]' + name + '=' +
                          '([^&;]+?)(&|#|;|$)').exec(source) || [, ""])[1].replace(/\+/g, '%20')) || null;
      }

      var error = getURLParameter("error", location.search);
      if (typeof error === 'string' && error.match(/^access_denied/)) {
        console.log('Amazonアカウントでのサインインをキャンセルされたため、戻る');
        window.location.href = 'error.html';
      }

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body data-gr-c-s-loaded="true">

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">ご注文手続き</h1>

            <!-- Blog Post -->
            <div class="card mb-4" id="highlight1" data-toggle="tooltip1" data-container="body" data-placement="left"
                 data-html="true" title="">
                <div class="card-body">
                    <h5>お届け先・お支払い方法の選択</h5>
                    <div id="addressBookWidgetDiv" style="height:250px"></div>
                    <div id="walletWidgetDiv" style="height:250px"></div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">ご注文内容</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">商品名</th>
                            <th scope="col">単価</th>
                            <th scope="col" class="text-center">数量</th>
                            <th scope="col" class="text-right">小計</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- AmazonPayController#confirmOrderから受け取ったorder.itemsの情報を表示 -->
                        <tr th:each="item : ${order.items}" th:object="${item}">
                            <td><img class="confirmation-item" src="./img/item0010.jpg" th:src="|./img/*{itemId}.jpg|">
                            </td>
                            <td class="text-right" th:text="*{itemName}">コロンビア・ビルバオ コーヒー豆</td>
                            <td class="text-right" th:text="|￥*{#numbers.formatInteger(price, 3, 'COMMA')}|">￥2,000</td>
                            <td class="text-right" th:text="*{number}">2</td>
                            <td class="text-right" th:text="|￥*{#numbers.formatInteger(summary, 3, 'COMMA')}|">￥4,000
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">お支払い金額</h5>
                <div class="card-body" id="highlight2">

                    <!-- AmazonPayController#confirmOrderから受け取ったorderの情報を表示 -->
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>商品合計</td>
                            <td class="text-right" th:text="|￥${#numbers.formatInteger(order.price, 3, 'COMMA')}|">
                                ￥4,000
                            </td>
                        </tr>
                        <tr>
                            <td><strong>税込金額</strong></td>
                            <td class="text-right"><strong
                                    th:text="|￥${#numbers.formatInteger(order.priceTaxIncluded, 3, 'COMMA')}|">￥4,320</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>送料</td>
                            <td class="text-right">￥<span id="postage">-</span></td>
                        </tr>
                        <tr>
                            <td><strong>総合計</strong></td>
                            <td class="text-right"><strong>￥<span id="total_price">-</span></strong></td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <div data-toggle="tooltip2" data-container="body" data-placement="top" data-html="true" title=""
                             data-original-title="&lt;p&gt;みなさまのECサイトへの会員登録・メールマガジンの購読をお勧めすることも可能です。&lt;/p&gt;">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked=""> お客様情報を会員として登録する
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked=""> メールマガジンを購読する
                                </label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <form method="post" action="purchase" id="purchase_form">
                            <!-- AmazonPayController#confirmOrderから受け取ったtokenの情報を埋め込む -->
                            <input type="hidden" id="token" name="token" value="ecde72b9-3e10-45bf-ab45-a1833751c37b"
                                   th:value="${token}">
                            <input type="hidden" id="access_token" name="accessToken">
                            <input type="hidden" id="order_reference_id" name="orderReferenceId">
                            <button id="purchase_button" class="btn btn-info btn-lg btn-block" disabled>購　入</button>
                        </form>
                    </div>

                    <br>

                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Amazon Pay JavaScript -->
<script type="text/javascript">
//popup=trueにする場合
//    var accessToken = getURLParameter("access_token", location.href);
//popup=falseにする場合
    var accessToken = getURLParameter("access_token", location.hash);
    if (typeof accessToken === 'string' && accessToken.match(/^Atza/)) {
        console.log("Amazon Access Token :" + accessToken);
        document.cookie = "amazon_Login_accessToken=" + accessToken + ";path=/;secure";
        document.getElementById('access_token').value = accessToken;
    }

      window.onAmazonLoginReady = function() {
        // ApayController#confirmOrderから受け取ったclientIdの情報を埋め込む
        amazon.Login.setClientId("[[${clientId}]]");
        amazon.Login.setUseCookie(true); //popup=falseにときに必要

        if (accessToken) {
          amazon.Login.retrieveProfile(accessToken, function (response){
            if (response.success) {
              console.log("Amazon Account Name :" + response.profile.Name);
              console.log("Amazon Account Mail :" + response.profile.PrimaryEmail);
              console.log("Amazon UserId :" + response.profile.CustomerId);
            }
          });
        }
      };

      window.onAmazonPaymentsReady = function() {
        showAddressBookWidget();
      };

      function showAddressBookWidget() {
          // AddressBook
          new OffAmazonPayments.Widgets.AddressBook({
            // ApayController#confirmOrderから受け取ったsellerIdの情報を埋め込む
            sellerId: '[[${sellerId}]]',

            onReady: function (orderReference) {
                console.log(orderReference);

                var orderReferenceId = orderReference.getAmazonOrderReferenceId();
                // Wallet
                document.getElementById('order_reference_id').value = orderReferenceId;
                showWalletWidget(orderReferenceId);
            },
            onAddressSelect: function (addressBook) {
                // お届け先の住所が変更された時に呼び出されます、ここで手数料などの再計算ができます。

                document.getElementById('purchase_button').disabled = true;

                console.log(addressBook);
                console.log(addressBook.getContractId());
                console.log(addressBook.getDestinationName());
                console.log(addressBook.getDisplayMode());
                console.log(addressBook.getID());

                $.ajax({
                    url: 'calc_postage',
                    type: 'POST',
                    data: {
                        "token": document.getElementById('token').value,
                        "orderReferenceId": document.getElementById('order_reference_id').value,
                        "accessToken": accessToken
                    }
                })
                .done( (data) => {
                    console.log(data);

                    document.getElementById('postage').textContent = data.postage;
                    document.getElementById('total_price').textContent = data.totalPrice;

                    document.getElementById('purchase_button').disabled = false;
                });
            },
            design: {
                designMode: 'responsive'
            },
            onError: function (error) {
                // エラー処理
                // エラーが発生した際にonErrorハンドラーを使って処理することをお勧めします。
                // @see https://developer.amazon.com/ja/docs/amazon-pay-onetime/handling-widget-errors.html
                console.log('OffAmazonPayments.Widgets.AddressBook', error.getErrorCode(), error.getErrorMessage());
                switch (error.getErrorCode()) {
                  case 'AddressNotModifiable':
                      // オーダーリファレンスIDのステータスが正しくない場合は、お届け先の住所を変更することができません。
                      break;
                  case 'BuyerNotAssociated':
                      // 購入者とリファレンスIDが正しく関連付けられていません。
              　　　    // ウィジェットを表示する前に購入者はログインする必要があります。
                      break;
                  case 'BuyerSessionExpired':
                      // 購入者のセッションの有効期限が切れました。
         　　　　        // ウィジェットを表示する前に購入者はログインする必要があります。
                      break;
                  case 'InvalidAccountStatus':
                      // マーチャントID（セラーID）がリクエストを実行する為に適切な状態ではありません。
        　　　　         // 考えられる理由 ： 制限がかかっているか、正しく登録が完了されていません。
                      break;
                  case 'InvalidOrderReferenceId':
                      // オーダーリファレンスIDが正しくありません。
                      break;
                  case 'InvalidParameterValue':
                      // 指定されたパラメータの値が正しくありません。
                      break;
                  case 'InvalidSellerId':
                      // マーチャントID（セラーID）が正しくありません。
                      break;
                  case 'MissingParameter':
                      // 指定されたパラメータが正しくありません。
                      break;
                  case 'PaymentMethodNotModifiable':
                      // オーダーリファレンスIDのステータスが正しくない場合はお支払い方法を変更することができません。
                      break;
                  case 'ReleaseEnvironmentMismatch':
                      // 使用しているオーダーリファレンスオブジェクトがリリース環境と一致しません。
                      break;
                  case 'StaleOrderReference':
                      // 使用しているオーダーリファレンスIDがキャンセルされています。
                  　　　// キャンセルされたオーダーリファレンスIDでウィジェットを関連付けすることはできません。
                      break;
                  case 'UnknownError':
                      // 不明なエラーが発生しました。(UnknownError)
                      break;
                  default:
                      // 不明なエラーが発生しました。
                }
            }
          }).bind("addressBookWidgetDiv");
      }

      function showWalletWidget(orderReferenceId) {
          // Wallet
          new OffAmazonPayments.Widgets.Wallet({
            // ApayController#confirmOrderから受け取ったsellerIdの情報を埋め込む
            sellerId: '[[${sellerId}]]',
            amazonOrderReferenceId: orderReferenceId,
            onReady: function(orderReference) {
                console.log(orderReference);
                document.getElementById('purchase_button').disabled = false;
            },
            onPaymentSelect: function(orderReference) {
                console.log(orderReference);
                console.log(orderReference.getContractId());
                console.log(orderReference.getDisplayMode());
                console.log(orderReference.getID());
                console.log(orderReference.getPaymentInstrumentsDisplayOptions());
                console.log(orderReference.getPresentmentCurrency());

                if (accessToken) {
                  amazon.Login.retrieveProfile(accessToken, function (response){
                    if (response.success) {
                      console.log("Amazon Account Name :" + response.profile.Name);
                      console.log("Amazon Account Mail :" + response.profile.PrimaryEmail);
                      console.log("Amazon UserId :" + response.profile.CustomerId);
                      console.log(response);
                    }
                  });
                }
            },
            design: {
                designMode: 'responsive'
            },
            onError: function(error) {
                // エラー処理
                // エラーが発生した際にonErrorハンドラーを使って処理することをお勧めします。
                // @see https://developer.amazon.com/ja/docs/amazon-pay-onetime/handling-widget-errors.html
                console.log('OffAmazonPayments.Widgets.Wallet', error.getErrorCode(), error.getErrorMessage());
            }
          }).bind("walletWidgetDiv");
      }

      document.getElementById('purchase_button').addEventListener(
          'click',
          function() {
              this.disabled = true;
              document.getElementById('purchase_form').submit();
          }
      );


</script>

<script async="async"
        src='https://static-fe.payments-amazon.com/OffAmazonPayments/jp/sandbox/lpa/js/Widgets.js'></script>

</body>

</html>